*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: rgba(68, 69, 73, 0.932);
}
.Content{
  background: url("https://i.pinimg.com/originals/d1/dc/66/d1dc66a5792e339f97c00747080d33ad.gif");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  height: 100vh;
 background-position: center;
 padding: 10%;
 }
h1{
  text-align: center;
}
.Cotent_info{
  text-align: center;
}
.App{
  width: 60%;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.63);
  padding: 2rem;
  border-radius: 5rem;
  border: solid black;
  box-shadow: 1rem 1rem 1rem 1rem rgba(128, 128, 128, 0.459);
}
.Content-1{
  display: flex;
}
.Content-2{
  display: grid;
  grid-template-columns: auto auto;
}
.Scale{
  display: flex;
  flex-direction: column;
}
button{
  width: 90px;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 5px;
  margin-top: 0.5rem;
  background-color: rgba(205, 245, 60, 0.507);
  color: black;
  font-weight: 800;
}
img{
  width: 230px;
  height: 230px;
}
li{
  font-size: 1.2rem;
  color: black;
}